.button {
    font-family: $font-family;
    font-size:14px;
    font-weight:bold;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;;;
    border: $size_1 solid $lightgrey;
    padding: $size_5 $size_39 $size_6 $size_44;
    border-radius: 8% 8% 8% 8%;
    &:hover{
        background-color: $red;
    }
}