
//card--normal
.card--normal {
  @include breakpoint(500px){
    padding-top: $size_50;
  }
  .card__author {
    font-family: $font-family;
    font-size: $size_12;
    font-weight:bold;
    @include breakpoint(1024px){
      text-align: center;
    }
  }
  .card__content {
    font-size: $size_16;
    font-family: $font-family;
    margin: $size_8 $size_0 $size_8 $size_0;
    @include breakpoint(500px){
      text-align: center;
      font-size: $size_10;
    }
    @include breakpoint(1024px){
      text-align: center;
    }
  }
  .card__figure {
    margin: $size_0;
  }
  .card__image {
    padding-top: $size_20;
    width: 100%;
  }
  .card__title {
    @include card__title();
  }
}
// card--large
.card--large {
  .card__author{
    font-weight:bold;
    @include breakpoint(1024px){
      text-align: center;
      }
  }
  .card__content{
    font-size: $size_14;
    @include breakpoint(1024px){
      text-align: center;
      }
  }
  .card__figure {
    margin: $size_0;
  }
  .card__image{
    padding-top:$size_0;
    width: 100%;
  }
  .card__title {
    font-size: $size_36;
    margin: $size_16 $size_0 $size_16 $size_0;
    font-family: $font-family;
    @include breakpoint(500px){
      font-size:$size_20;
    }
    @include breakpoint(1024px){
    text-align: center;
    }
  }
}
