figure.figure {
    margin: 0px;
    }
.figure__card-image{
    width:100%;
    }
.card__author {
    font-size: $size_1;
    @include fontweight(bold);
}
p.content {
    font-size: $size_2;
}
.section__intro {
    font-style: italic;
}
