.category--unicorns{
    @include top-and-bottom($red);
    }
.category--bears{
    @include top-and-bottom($blue);
}
.category{
    text-transform: uppercase;
    font-size: $size_0;
    }
.cat.wrapper {
    margin-bottom: 35px;
}
