.category--unicorns{
    @include top-and-bottom($red);
    }
.category--bears{
    @include top-and-bottom($blue);
}
.category{
    text-transform: uppercase;
    font-size: $size_10;
    }
.l-constrain{
    margin-bottom: $size_0;
    padding:0px;

}
