// colors:
$blue:#123C69;
$darkgrey:#151515;
$grey:#393939;
$lightgrey: #979797;
$red: #AC3B61;
$rose-salmon: #EEE2DC;
$white:#ffffff;

// font-family
$font-family: 'Source Sans Pro', sans-serif;
$font-family2: "Merriweather";

$size_0: 0px;
$size_1: 1px;
$size_2: 2px;
$size_3: 3px;
$size-4: 4px;
$size_5: 5px;
$size_6: 6px;
$size_7: 7px;
$size_8: 8px;
$size_9: 9px;
$size_10: 10px;
$size_11: 11px;
$size_12: 12px;
$size_14: 14px;
$size_15: 15px;
$size-16: 16px;
$size-20: 20px;
$size_22: 22px;
$size_24: 24px;
$size_25: 25px;
$size_26: 26px;
$size_28: 28px;
$size_30: 30px;
$size_33: 33px;
$size_36: 36px;
$size_39: 39px;
$size_40: 40px;
$size_44: 44px;
$size_50: 50px;
$size_55: 55px;
$size_59: 59px;
$size_62: 62px;
$size_68: 68px;
$size_70: 70px;
$size_71: 71px;
$size_75: 75px;


// border
$border-top-1: 1px solid $darkgrey;
$border-top-2: 2px solid $darkgrey;
$border-top-3: 3px solid $darkgrey;

// mixin
@mixin background($background){
    background-color:$background;
}
@mixin breakpoint($width){
    @media only screen and (max-width:$width){
        @content;
    }
}
@mixin card__title(){
    color:$grey;
    font-family: $font-family2;
    font-size: $size_22;
    font-weight:bold;
    margin: $size_16 $size_0 $size_16 $size_0;
    @include breakpoint(500px){
        font-size:$size_20;
    }
    @include breakpoint(1024px){
        text-align: center;
    }
}
// @mixin category($color){
//     color:$color;
// }
@mixin h2(){
    font-family: $font-family;
    font-size: $size_24;
    font-weight: 600;
    margin: $size_16 $size_0 $size_59 $size_0;
    @include breakpoint(500px){
        font-size:$size-14;
    }
}
@mixin top-and-bottom($color){
    color: $color;
    font-size: $size_10;
    position: relative;
    text-transform: uppercase;
    &::before {
        background-color:$color;
        content:'';
        height: $size_1;
        left:$size_0;
        margin:$size_0;
        position: absolute;
        top: $size-20;
        width: 80%;
        }
    &::after {
        background-color: $color;
        bottom: $size_0;
        content:'';
        height: $size_1;
        left:$size_55;
        position: absolute;
        width: 80%;
    }
}
