.grid_second{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1rem;
    padding-top: 40px;
    @include breakpoint(500px){
        grid-template-columns: 1fr;
    }
}
.l_constrain{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 1.5rem;
}

.grid_second h3.card__title {
    @include h3();
    @include fontweight(bold);
}
  // display:flex;

    // > * {
    //     flex-basis:25%;
    //     margin: 10px;
    // }