.l-constrain {
  @include l-constrain;
}
.section {
  padding:$size_26;
  @include background($rose-salmon);
}
.section--second {
  @include background($white);
}
// <!-- HEADER // -->
.section__title {
  @include h2;
  }
.section__header {
  align-items: center;
  border-top: $border-top-2;
  display: flex;
  justify-content: space-between;
  a{
    color:$red;
    font-size: $size_16;
    margin: $size_16 $size_0 $size_59 $size_0;
    text-decoration: none;
    @include breakpoint(500px){
    font-size: $size-14;
    }
  }
  a:hover{
    color: $grey;
  }
}
.section__intro {
  font-family: $font-family;
  font-style: italic;
  font-size: $size_16;
  padding-bottom: $size_50;
  @include breakpoint(500px){
    font-size: $size_9;
    padding-bottom: $size_25;
  }
}
//<!-- //HEADER-->
//<!-- FOOTER //->
.section__footer {
  margin-top: $size_62;
  text-align: center;
}
//<!-- FOOTER//->