.l-constrain {
  @include l-constrain;
}
.section {
  padding:$size_26;
  @include background($rose-salmon);
  @include breakpoint(500px){
  padding: $size_10 $size_10 $size_10 $size_10;
  }
}
section.section.section--second {
  background-color: white;
}
// <!-- HEADER // -->
.section__title {
  @include h2;
  }

.section__header {
  // margin: 0px 0px 30px 0px;
  border-top: $border-top-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    margin: 16px 0 59 0;
    color:$red;
    font-size: $size_16;
    text-decoration: none;
    @include breakpoint(500px){
    font-size: $size-14;
  }}
  a:hover{
      color: $grey;
  }
}
.section__intro {
  font-style: italic;
  font-size: 16px;
  padding-bottom: 50px;
}
// // <!-- //HEADER-->
.section__footer {
  text-align: center;
  margin-top: 62px;
}

