.l-constrain{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 1.5rem;
}
.section.section.section--second {
    padding:$size_26;
    @include background($white);
    @include breakpoint(500px){
        padding: $size_10 $size_10 $size_10 $size_10;
    }
}
.section--second__header{
    border-top: $border-top-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color:$red;
        font-size: $size_16;
        text-decoration: none;
        @include breakpoint(500px){
        font-size: $size-14;
    }}
    a:hover{
        color: $grey;
    }
    }
.section--second__title {
    @include h2;
    }

