.l-constrain{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 1.5rem;
}
section.section.section--second {
    padding:$size_9;
    @include background($white);
    @include breakpoint(500px){
        padding: 10px 10px 10px 10px;
      }
}
.section__header{
    border-top: $border-top-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color:$red;
        font-size: $size_3;
        text-decoration: none;
        @include breakpoint(500px){
        font-size: $size-2;
      }}
      a:hover{
        color: $grey;
      }
    }
.section__title {
    @include h2;
    }

