.l_constrain{
  max-width: 1200px;
  margin: 0 auto;
  padding:0 1.5rem;
}
// <!-- HEADER // -->
.section-first {
  padding:$size_26;
  @include background($rose-salmon);
  @include breakpoint(500px){
  padding: $size_10 $size_10 $size_10 $size_10;
  }
}
.section-first__header {
  margin: 0px 0px 30px 0px;
  border-top: $border-top-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    color:$red;
    font-size: $size_16;
    text-decoration: none;
    @include breakpoint(500px){
    font-size: $size-14;
  }}
  a:hover{
      color: $grey;
  }
}
.section-first__title {
  @include h2;
  }
// <!-- //HEADER-->
