{% extends "templates/base.twig" %}
{% block content %}
  <div class="container_section">
{# First block card// #}
  {% set cards %}
    {% for item in spotlight_section.items %}
    {# variable loop created automaticcaly after a for loop #}
        {% if loop.first %}
            {% include "templates/card_large.twig" with {
            modifier_classes: 'card--large',
            image: item.image,
            image_title:"title image",
            card_title_link: item.title,
            name_author:item.authors,
            content:item.content
      }%}
      {% else %}
      {% include "templates/card.twig" with {
          category: item.category,
          image: item.image,
          image_title:"title image",
          card_title_link: item.title,
          name_author:item.authors,
          content:item.content
        }%}
      {% endif %}
    {% endfor %}
  {% endset %}
{# //First  block card#}
{# Second  block card//#}
  {% set cards__second %}
      {% for item in recent_section.items %}
        {% include "templates/card.twig" with {
          category: item.category,
          card_title_link: item.title,
          material_icons: true,
          name_author:item.authors,
          content:item.content
        }%}
      {% endfor %}
  {% endset %}
{# //Second  block card #}

    {# {% embed "templates/section.twig" with {
      section_title: 'Title',
      section_link_url: 'http://google.com',
      section_link_text: 'Link Text',
      section_intro: 'Intro text'
    }%} #}

{# first bloc section //#}
  {% embed "templates/section.twig" with {
    section_title: spotlight_section.title,
    section_link_url: spotlight_section.see_all.url,
    section_link_text: spotlight_section.see_all.link_text,
    }%}
  {% block section_content %}
    {% include "templates/grid.twig" with {
      modifier_classes: 'grid',
      grid_items: cards
      }%}
  {% endblock %}
  {% endembed %}
{# //first bloc section #}
{# deuxieme bloc section// #}
  {% embed "templates/section_second.twig" with {
    section_title:recent_section.title,
    section_link_url:recent_section.see_all.url,
    section_link_text:recent_section.see_all.link_text,
    section_intro:recent_section.intro,
    modifier_classes: 'section--second'
    }%}
  {% block section_content %}
    {% include "templates/grid_second.twig" with {
      modifier_classes: 'grid--second',
      grid_items: cards__second
      }%}
  {% endblock %}
  {% block section_footer %}
    {% include "templates/button.twig" with {
      button_url:recent_section.call_to_action.url,
      button_text:recent_section.call_to_action.link_text
      }%}
  {% endblock %}
  {% endembed %}
{# //deuxieme bloc section #}
  </div>
{% endblock  %}
