{# 
    <div class="category category--{{category}}">
    {{category}}
    </div> #}
<div class="cat wrapper">
    <div class="category category--{{category}}">
        {{category}}
        <div class="top-and-bottom"> </div>
    </div>
</div>