<!-- 3 Column asymetrical-->
<div clas="l_constrain">
  {% block section_content %}
    <div class="grid {{ modifier_classes }}">
    {% if grid_items %}
      {{grid_items}}
    {% endif %}
    </div>
  {% endblock %}
</div>