<!-- 3 Column asymetrical-->
<div class="grid-50-25-25">
    {% if loop.first %}
        {% include "templates/card_large.twig" with {
        }%}
        {% else %}
        {% include "templates/card.twig" with {
        }%}
    {% endif %}
</div>