{% block section %}
    <section class="section">
        {% include "templates/card_header.twig" with {
            title: header_title,
            url: header_url,
            link_text: link_text
        }%}
        {% include "templates/grid.twig" with {
            category: card_category,
            image: card_image,
            image_title: card_title,
            card_link: card_url,
            name_author: card_authors,
            card_content: content
        } %}
    </section>
{% endblock %}
