<section class="section">
    <div class="l-constrain">
        <header class="section__header">
            <h2 class="section__title">{{ section_title }}</h2>
            <a class="section-header__link" href="{{ section_link_url }}">{{ section_link_text }}</a>
        </header>
        {#Intro #}
        {% if section_intro %}
        <div class="section_intro">{{section_intro}}</div>
        {% endif %}

        {#Grid #}
        {% block section_content %}
        {% endblock %}

        {#Footer #}
        {% block section_footer %}
        {% endblock %}