{% block section_second %}
    <section class="section_second">
            {% include "templates/card_header.twig" with {
                title: header_title,
                url: header_url,
                intro: header_intro
            }%}

            {% include "templates/grid_second.twig" with {
                category: card_category_second,
                image: card_image_second,
                image_title: card_title,
                card_title :card_title_second,
                card_link: card_url_second,
                name_author: card_authors_second,
                content: card_content_second
            }%}
            {% include "templates/card_footer.twig" with {
            url:section_footer_url,
            link_text:section_footer_link_text
            }%}
    </section>
{% endblock %}