<div class="section-first">
    <div class="l-constrain">
        <header class="section-first__header">
            <h2 class="section-first__title">{{ section_title }}</h2>
            <a class="section-first__link" href="{{ section_link_url }}">{{ section_link_text }}</a>
        </header>
        {% if section_intro %}
            <div class="section-first__intro">{{ section_intro }}</div>
        {% endif %}

        <div class="section-first__grid">
            {% block section_content %}
                Section content will go here
            {% endblock %}
        </div>
    </div>
</div>